@font-face {
  font-family: "Gidole-Regular";
  src: url("/fonts/Gidole-Regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Gidole-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Gidole-Regular.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Gidole-Regular.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Gidole-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Gidole-Regular.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Gidole-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Otamendi";
  src: url("/fonts/Otamendi.eot"); /* IE9 Compat Modes */
  src: url("/fonts/Otamendi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/Otamendi.otf") format("opentype"), /* Open Type Font */
    url("/fonts/Otamendi.svg") format("svg"), /* Legacy iOS */
    url("/fonts/Otamendi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/Otamendi.woff") format("woff"), /* Modern Browsers */
    url("/fonts/Otamendi.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}