// Global styling
.v-slide-group__prev, .v-slide-group__next {
  background-color: #f7be33 !important;
  min-width: unset !important;
}
.menu {
  position: relative;
  text-decoration: none;
  &.light {
    color: black;
  }
}
.selected {
  color: white;
  &.light {
    color: white;
  }
}
.selected::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: white;
  position: absolute;
  left: 25%;
}
.nav-selected {
  background-color: #f7be33;
}
.font-logo {
	&.majjang {
		font-family: "Otamendi";
  	font-size: xx-large;
		color: #F7BE33;
	}
	&.majjang::after {
		content: "Fine foods";
		font-family: "Gidole-Regular";
		font-size: x-small;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #F7BE33;
		display: block;
	}
	&.light, &.majjang.light::after {
		color: white;
	}
}